@tailwind base
@tailwind components
@tailwind utilities

:root
  @apply font-inter text-dark-invert
  --text-accent: #046b46
  --dark-invert: #1e1e1e
  --black-invert: 0 0 0
  --subtle-invert: #6f6f6f
  --subtle-white-invert: #ffffffd1

  @apply bg-gray-100
  &.dark
    @apply bg-neutral-950

html.dark
  --text-accent: #1d9267
  --dark-invert: #e1e1e1
  --black-invert: 255 255 255
  --subtle-invert: #909090
  --subtle-white-invert: #ffffffd1

@layer utilities
  .focus-ring
    @apply focus:outline-transparent focus-visible:outline focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-offset-2

  .focus-ring-white
    @apply focus:outline-transparent focus-visible:outline focus-visible:outline-2 focus-visible:outline-white focus-visible:outline-offset-2

  .main-container
    @apply max-w-[61rem] mx-auto

  .article-container
    @apply max-w-[45rem] mx-auto

  @media (min-width: 45rem)
    .article-rounded
      @apply rounded-[.5rem]

  .focus-scroll-target
    @apply scroll-mt-[7rem] sm:scroll-mt-[13.25rem] scroll-mb-8

@keyframes cursor-blink
  0%
    opacity: 1
  50% 
    opacity: 0

::view-transition-old(*), ::view-transition-new(*)
  animation-duration: 0s
